<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  <% scripts.push('/javascripts/jquery-1.9.1.min.js', '/javascripts/jquery.validate.js', '/javascripts/signupform.js', '/javascripts/bootstrap.js') %>
  <%- renderScriptsTags(scripts) %>
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container"><!-- Collapsable nav bar -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Your site name for the upper left corner of the site -->
                    <a class="brand" href="/">PhoneGap events app generator</a>

                    <!-- Start of the nav bar content -->
                    <div class="nav-collapse"><!-- Other nav bar content -->

                        <!-- The drop down menu -->
                        <ul class="nav pull-right">
                            
                                <li>
                                    <a href="">
                                        Welcome
                                    </a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  <div id="main-container" class="container">
  <div class="row-fluid">
  <div class="span3"></div>
  <div class="span7">
 <form class="form-horizontal" id='signupform' action='signup' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Sign up to the system</legend>
    </div>
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> It's recommended that an organization registers a user per knowledge area.
    </div>
    <% if (formerror != false ) { %>
      <div class="alert alert-error">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> <%= formerrortext %>
    </div>
    <% } %>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="required input-xlarge">
        <p class="help-block">Can contain any letters or numbers, without spaces</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="required input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="realname">Realname</label>
      <div class="controls">
        <input type="text" id="realname" name="realname" placeholder="" class="required input-xlarge">
        <p class="help-block">What's your IRL name?</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="org">Organization</label>
      <div class="controls">
        <input type="text" id="org" name="org" placeholder="" class="required input-xlarge">
        <p class="help-block">The organization you belong to.</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="required input-xlarge">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Confirm Password</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="required input-xlarge">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
</div>
<footer>
    <img id="logo-left" src="/static/img/morelab.png" width="150" />
    <img id="logo-right" src="/static/img/deustotech.png" width="150" />
  </footer>
  </body>
</html>
