body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#main-container
    display: block
    min-height: 400px
    padding-top: 5em

#main-container2
    display: block
    min-height: 500px
    padding-top: 1em

footer
    width: 100%
    line-height: 8em
    min-height: 11em
    background-color: whiteSmoke
    border-top: #999 0.5em solid
    margin-top: 2em
    margin-bottom: 0 auto
    //margin 0 auto
    text-align: center

footer img
    margin: 1em

#logo-left
    float: left
    margin-left: 15em

#logo-right
    float: right
    margin-right: 15em

